

<div class = "clearfix upper">
    <div class = "row">
        <div class="col-md-12 header">
                <h6>What Next?</h6>
        </div>
    </div>

    <div class="row">
       
        <div class="col-md-3 column-box">

                <div class = "row">
                    <div class="col-md-12">
                        <img src="https://static.opentok.com/img/homepage/extra/advanced-features-icon.png">

                    </div>
                    <div class="col-md-12">
                        <h3>Facebook </h3>
                        
                    </div>
                    <div class="col-md-12">
                       <p>Coming Soon...</p>
                        
                    </div>
                </div>       
        </div>


        <div class="col-md-3 column-box">
            <div class="col-md-12">
                        <img src="https://static.opentok.com/img/homepage/extra/cross-platform-icon.png">

                    </div>
                    <div class="col-md-12">
                        <h3>Twitter </h3>
                        
                    </div>
                    <div class="col-md-12">
                        <p>Coming Soon...</p>
                        
                    </div>
        </div>


        <div class="col-md-3 column-box">
            <div class="col-md-12">
                        <img src="https://static.opentok.com/img/homepage/extra/scalability.png">

                    </div>
                    <div class="col-md-12">
                        <h3>I-cloud </h3>
                        
                    </div>
                    <div class="col-md-12">
                        <p>Coming Soon...</p>
                        
                    </div>
        </div>


        <div class="col-md-3 column-box">
            <div class="col-md-12">
                        <img src="https://static.opentok.com/img/homepage/extra/dependability-icon.png">

                    </div>
                    <div class="col-md-12">
                        <h3>Google Drive</h3>
                        
                    </div>
                    <div class="col-md-12">
                        <p>Coming Soon...</p>
                        
                    </div>
        </div> 
    </div>
</div>

