

<div class = "clearfix upper">
  
  

    <div class="row">
        <div class="clearfix tagmsg">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 styletext">
                <h2>We make it easier</h2>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

     <!--<div class="row">
       <div class="col-md-4">
       </div>
       <div class="col-md-4 stylesubtext">
           <p class="sansserif">No need to being panic, here we do for you.</p>
       </div>
       <div class="col-md-4">
       </div>
    </div>-->

    <div class= "row">
      
           <div class="col-md-2">
           </div>

           <div class="col-md-8  mainOpiton">
               
               <div class="row">
                   <div class="col-md-3">
                        
                            <img src="./../../app/assests/images/video.png">
                            <br>
                           
                        
                   </div>   
                   <div class="col-md-2">
                       

                            <img src="./../../app/assests/images/iconplus.png">
                            <br>
                            
                       
                   </div>   
                   <div class="col-md-2">
                        
                            <img src="./../../app/assests/images/voice.png">
                            <br>
                           
                   </div>

                   <div class="col-md-2"> 
                       
                            <img src="./../../app/assests/images/iconplus.png">
                            <br>
                   </div>

                   <div class="col-md-3">     
                       
                            <img src="./../../app/assests/images/msg.png">
                            <br>
                            
                       
                   </div>    
               </div>
           </div>     

           <div class="col-md-2">
           </div>  
      
    </div>

    
</div>







      