

<div class = "clearfix upper">
    <div class = "row">
        <div class="col-md-7 header">

                    
                    
                    <div class="row">

                        <div class="col-md-2 iconForService">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        </div>

                        <div class= "col-md-10 serviceName">
                                <h4>Messaging</h4>
                                
                                <p>include our message service and enjoy chat easily.</p>
                        </div>

                    </div>

                  
                  
                    <div class="row">
                        <div class="col-md-2 iconForService">
                            <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                        </div>

                        <div class= "col-md-10 serviceName">
                                <h4>Conference</h4>
                                
                                <p>with an easy integration get enable conference.</p>
                        </div>
                    </div>


                    
                    <div class="row">
                        <div class="col-md-2 iconForService">
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                        </div>

                        <div class= "col-md-10 serviceName">
                                <h4>Audio</h4>
                                
                                <p>integration of audio service makes your system intelligent.</p>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-2 iconForService">
                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                        </div>

                        <div class= "col-md-10 serviceName">
                                <h4>Video</h4>
                                
                                <p>video service in both mobile and desktop.</p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 buttonToGetInfo">

                             <a href="" class="btn-blue-v2 btn ctaarrow-gray cta-button">
                                 Contact Sales
                             </a>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 buttonToGetInfo2">

                             <a href="" class="btn-blue-v3 btn ctaarrow-gray cta-button">
                                 View Industry Use Cases
                             </a>
                        </div>
                    </div>

        </div>

        <div class = "col-sm-5 imgPortion">

                <img src="./../../app/assests/images/imgportion1.png">
                 <br>

                 <img src="./../../app/assests/images/imgportion2.png">
                 <br>



        </div>
    </div>

    
</div>

